*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ
*.ipr
*.iws
*.iml
.idea/

# Gradle
.gradle/
build/
app/build/

# External native build artifacts
.externalNativeBuild/
.cxx/

# Log files
*.log

# Android Studio Captures
captures/
